aiohappyeyeballs 
aiohttp 
aiosignal 
annotated-types 
anyio 
attrs 
certifi 
charset-normalizer 
click 
datasets 
dill 
docker-pycreds 
evaluate 
fastapi 
filelock 
frozenlist 
fsspec 
gitdb 
GitPython 
grpclib 
h2 
hpack 
huggingface-hub 
hyperframe 
idna 
markdown-it-py 
mdurl 
modal 
multidict 
multiprocess 
numpy 
packaging 
pandas 
platformdirs 
propcache 
protobuf 
psutil 
pyarrow 
pydantic 
pydantic_core 
Pygments 
python-dateutil 
pytz 
PyYAML 
regex 
requests 
rich 
safetensors 
sentry-sdk 
setproctitle 
setuptools 
shellingham 
sigtools 
six 
smmap 
sniffio 
starlette 
synchronicity 
tokenizers 
toml 
tqdm 
transformers 
typer 
types-certifi 
types-toml 
typing_extensions 
tzdata 
urllib3 
wandb 
watchfiles 
xxhash 
yarl 
torch 
scikit-learn